main
.DS_Store
Writer_example/Writer
Reader_example/Reader_example
open_create_file/open_create_file
open_create_file/read_write_in_file/read_write_in_file
open_create_file/read_write_in_file/test.txt
open_create_file/test.txt
scanf_write_read_data/data.txt
scanf_write_read_data/scanf_write_read_data
scanf_write_read_data/scanf_2/people.dat
scanf_write_read_data/scanf_2/scanf_2
